/* -----------------
------Starter--------
---------------------
*/


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/* custom properties */


:root{

    /* color */
    --clr-very-dark-grey:hsl(0, 0%, 17%);
    --clr-dark-grey:hsl(0, 0%, 59%);
    --clr-white:#ffff;
    --clr-black:black;

    /* font */
    --ff-primary:"Rubik",sans-serif;
    
    --fw-reg:300;
    --fw-bold:900;
    
    --fs-h1: 2rem;
    --fs-h2:1.5rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

    --bs:0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15)
}




body{
    
    font-family: var(--ff-primary);
}

.main-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.header-section{
    width: 100%;
    height: 17rem;
    background-image: url(./images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.header-section h1{
    color: var(--clr-white);
    font-size: var(--fs-h1);
    margin: 1rem 0;
}


/* seacrh */
  .search-form {
    
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    
  }
  .input-search {
    cursor: pointer;
    /* width: 20rem; */
    width: 29rem;
    border-color: transparent;
    border-radius: 15px 0 0 15px;
  }
  
  .input-search::placeholder {
    font-size: 1.1rem;
  }
  .input-search[type="text"] {
    font-size: 18px;
    padding: 1.1rem;
    font-weight: 400;
  }
  
  .search-form button {
    border-color: transparent;
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding: 1rem;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
  }
  
  .fa-angle-right {
    font-size: 1.5rem;
    color: var(--white);
  }

/* end of search */

  
/* coord results */

.localisation-information{
    position: absolute;
    z-index: 1;
    top: 12rem;
    width: 60%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    background: var(--clr-white);
    border-radius: 15px;
    color: var(--clr-black);
}

hr {
    height: 60%;
    color: var(--clr-black);
    opacity: 0.15;

  }

.localisation-information h2{
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 1rem;
}

.localisation-information p{
   font-size: var(--fs-h2);
   font-weight: bold;
}


/**  Map Section **/
.map-section {
  position: relative;
  width: 100%;
  /* height: 20rem; */
  z-index: 0;
}

#map {
  height: 38rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:600px) {

  .header-section{
    height: 20rem;
  }

  .input-search{
    width: 25rem;
    

  }

  .localisation-information h2{
   text-align: center;
  }

  .localisation-information{
    flex-direction: column;
    height: 20rem;
  }


  hr{
    display: none;
  }

  
}




